#form-title::placeholder
{
    color: rgb(75, 75, 75)
}

#form-description::placeholder
{
    color: rgb(100, 100, 100)
}

.text-box
{
    background: transparent;
    font-family: "Century Gothic";
    color: black;
    border: none;
    outline: none;
    width: 100%;
}

#form-title
{   
    font-weight: bold;
    font-size: 50px;
}

#form-description
{
    margin-top: 5px;
    font-size: 30px;
    min-height: 500px;
    resize: vertical;
    white-space: pre-wrap;
}