.prompt-container{
    background: #917d64;
    border-radius: 5px;
    padding: 10px;
    margin: auto;
    width: 60%;
}

#prompt-title{
    font-size: 40px;
}

#form-box{
    background: #736455;
    border-radius: 3px;
    margin: 10px 0;
    padding: 15px;
}

.entry-box{
    width: 100%;
    font-family: "Century Gothic";
    font-size: 25px;
    border-radius: 3px;
    border: hidden;
}

.user-link{
    display: inline-block;
}

.remember-me-container {
    margin: 5px 0;
}

.remember-me-container input[type="checkbox"] {
    transform: scale(1.5); /* Increase the size of the checkbox */
    margin: 0 10px; /* Add some spacing between checkbox and label */
  }

#form-title{
    font-size: 30px;
}

#sign-in-button{
    background: #998672;
    color: rgb(225, 208, 199);
    font-size: 35px;
    border-radius: 5px;
    border-style: hidden;
    font-family: "Century Gothic";
    font-weight: bold;
    margin-top: 10px;
    padding: 0 5px;
    cursor: pointer;
}

#sign-up-button{
    background: #9e8b76;
    color: rgb(65, 53, 49);
    font-size: 35px;
    border-radius: 5px;
    border-style: hidden;
    font-family: "Century Gothic";
    font-weight: bold;
    margin-top: 10px;
    padding: 0 5px;
    cursor: pointer;
}

#forgot-password-button{
    background: #39322b;
    color: rgb(225, 208, 199);
    font-size: 30px;
    border-radius: 5px;
    border-style: hidden;
    font-family: "Century Gothic";
    font-weight: bold;
    margin-top: 10px;
    padding: 0 5px;
    cursor: pointer;
}

.no-account{
    margin-top: 10px;
}

#back-button{
    background: #736455;
    color: rgb(57, 45, 40);
    font-size: 40px;
    border-radius: 5px;
    font-weight: bold;
    padding: 0 5px;
    margin-right: auto;
    display: block;
    margin-bottom: 5px;
    width: 110px;
}

#cancel-account-button{
    background: #39322b;
    color: rgb(255, 100, 100);
    font-size: 30px;
    border-radius: 5px;
    border-style: hidden;
    font-family: "Century Gothic";
    font-weight: bold;
    margin-top: 10px;
    padding: 0 5px;
    cursor: pointer;
}